
{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

{#    {% for error in errors %}#}
{#        <li>{{ error.message }}</li>#}
{#    {% endfor %}#}
{#    <h1>isXmlHttpRequest {{ isXmlHttpRequest }}! ✅</h1>#}
{#    <h1>$mail {{ mail }}! ✅</h1>#}

{#    <h1>$mail2 {{ mail2 }}! ✅</h1>#}


</div>
{% endblock %}
