{% block ticket %}
<div class="ticket_wrapper block" id="ticket_{{ ticket.id }}">

    <div class="header">
        <div class="id">
            #{{ ticket.id }}
        </div>
        <div class="author">
            {{ ticket.name }}
        </div>
        <div class="status">
            {{ ticket.status }}
        </div>
        <div class="created_at">
            {{ ticket.created_at|date('Y-m-d H:i:s') }}
        </div>
        <div class="updated_to">
            {% if  ticket.updated_to != "" %}
            {{  ticket.updated_to|date('Y-m-d H:i:s') }}
            {% endif %}
        </div>
    </div>
    <div class="ticket_message">
        {{  ticket.message }}
    </div>
    <div class="ticket_comment">
        <form action="requests/{{ ticket.id }}" method="post" onsubmit="SendForm(event)">
            <label for="message_text" class="flex-col">
                <div class="input_name">
                    Комментарий
                </div>
                <textarea  required name="comment" id="comment_text" cols="10" rows="5"></textarea>
            </label>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
