{% block ticket %}
<div class="ticket_wrapper block">

    <div class="header">
        <div class="id">
            #{{ ticket.id }}
        </div>
        <div class="author">
            {{ ticket.name }}
        </div>
        <div class="status">
            {{ ticket.status }}
        </div>
        <div class="created_at">
            {{ ticket.created_at|date('Y-m-d H:i:s') }}
        </div>
        <div class="updated_to">
            {% if  ticket.updated_to != "" %}
            {{  ticket.updated_to|date('Y-m-d H:i:s') }}
            {% endif %}
        </div>
    </div>
    <div class="ticket_message">
        Вопрос: {{  ticket.message }}
    </div>
    <div class="ticket_comment">
        Ответ: {{  ticket.comment }}
    </div>
</div>
{% endblock %}
